body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#main-taitel {
  font-family: 'Merienda', cursive;
  text-align: center;
}

/* search */
.search-places-bar {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 0 6px rgba(0,0,0,0.23);
}

.search-places-bar input {
  padding: 0.75rem 0.25rem;
  font-family: 'Merienda', cursive;
}

.places-list {
  list-style-type: none;
  padding: 0;
  font-family: 'Merienda', cursive;
}

.place {
  background-color: #fff;
}

/* Responsive web design for mobile */
@media screen and (max-width: 767px) {

  #main-taitel {
    font-size: 1.5rem;
  }

  /* search */
  .search-places {
    width: 100%;
  }

  .search-places-input-wrapper {
    font-size: 0.75rem;
  }

  .search-places-bar input {
    padding: 0.5rem 0.25rem;
    font-size: 1rem;
  }

  .search-places-results {
    font-size:  1rem;
  }
  /* map */

  .map-view {
    width: 100%;
  }

  #map {
    height: 43rem;
  }

}

/* Responsive web design for tablet */
@media screen and (min-width: 768px) and (max-width: 1099px) {

  .display-one-line {
    display:flex;
    flex-direction:row;
  }

  #main-taitel {
    font-size: 4rem;
  }

  /* search */
  .search-places {
    width: 30%;
  }

  .search-places-bar {
    width: 100%;
  }

  .search-places-input-wrapper {
    font-size: 0rem;
  }

  .search-places-bar input {
    padding: 0.5rem 0.25rem;
    font-size: 1.15rem;
  }

  .search-places-results {
    font-size:  1rem;
  }

  /* map */
  .map-view {
    width: 70%;
  }

  #map {
    height: 52rem;
  }
  .map-size {
    width: 68% !important;
    height: 80% !important;
  }

}

/* Responsive web design for desktop */
@media screen and (min-width: 1100px) {

  .display-one-line {
    display:flex;
    flex-direction:row;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }

  #main-taitel {
    font-size: 3rem;
  }

  /* search */
  .search-places {
    width: 26%;
  }

  .search-places-input-wrapper {
    font-size: 0.75rem;
  }

  .search-places-bar input {
    font-size: 1.5rem;
  }

  .search-places-results {
    font-size:  1.25rem;
  }

  /* map */
  .map-view {
    width: 74%;
  }

  #map {
    height: 43rem;
  }
  .map-size {
    width: 60% !important;
    height: 80% !important;
  }

}
